.container {
    width: 98vw;
    height: 100vh;
    display: grid;
    grid-template-areas:
        "sidebar header"
        "sidebar content"
        "sidebar content";
    grid-template-columns: 288px auto;
    grid-template-rows: 68px auto auto; 
    gap: 2px;
    background-color: #fff;
}

.container > div {
    background-color: chocolate;
    padding: 10px;
}

.container > div.header {
    grid-area: header;
    text-align: center;
}

div.sidebar {
    grid-area: sidebar;
}

.container > div.content {
    grid-area: content;
}
  